<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple and convinient way to share file between your devices over the internet" >
    <link rel="stylesheet" href="./css/index.css">
    <script defer src="./js/index.js"></script>
    <title>Lite Share</title>
</head>
<body>
    <div class="data"></div>
    <div class="file-box">
        <form id="file_sender" method="POST">
            <input type="text" name="text" placeholder="Enter Text">
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>